@import "basic.scss";
@import "header.scss";
/*左侧总排行榜*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-name-logo {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 14px;
}
.main-left {
  width: 275px;
  height: 100%;
}
.cont-title {
  position: relative;
  width: 275px;
  height: 20px;
  background: url("../image/top-left.png") left top no-repeat, url("../image/top_right.png") right top no-repeat;
}
.cont-title-name {
  position: absolute;
  display: block;
  width: 154px;
  left: 50%;
  margin-left: -77px;
  top: -13px;
  font-size: 22px;
  color: #03f4fb;
  text-align: center;
}
.cont-th {
  width: 273px;
  height: 30px;
  border-right: 1px solid #076e6a;
  border-left: 1px solid #076e6a;
  padding-top: 14px;
}
.cont-th > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  background: #0e2f39;
  line-height: 30px;
  padding: 0 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cont-th > div span {
  display: inline-block;
  font-size: 14px;
  color: #77fbff;
  font-weight: 700;
}
.cont-th > div span:last-child {
  margin-right: 3px;
}
.cont-footer {
  position: relative;
  width: 275px;
  height: 48px;
  background: url("../image/bottom_right.png") left bottom no-repeat, url("../image/bottom_left.png") right bottom no-repeat #020a14;
}
.cont-footer-bg {
  width: 100%;
  height: 48px;
  border-top: none;
  background: url("../image/bottom_bg.png") center 5px no-repeat;
}
.cont-content {
  width: 273px;
  border-right: 1px solid #026865;
  border-left: 1px solid #026865;
  padding-top: 16px;
}
.cont-content > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 273px;
  height: 34px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0e2f39;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.cont-content > li:first-child .cont-ground span,
.cont-content > li:first-child .cont-count {
  color: #ffde00;
}
.cont-content > li:first-child .cont-ground img {
  border-color: #ffde00;
}
.cont-content > li:nth-child(2) .cont-ground span,
.cont-content > li:nth-child(2) .cont-count {
  color: #fff;
}
.cont-content > li:nth-child(2) .cont-ground img {
  border-color: #fff;
}
.cont-content > li:nth-child(3) .cont-ground span,
.cont-content > li:nth-child(3) .cont-count {
  color: #ee983c;
}
.cont-content > li:nth-child(3) .cont-ground img {
  border-color: #ee983c;
}
.cont-content > li:last-child {
  margin-bottom: 0;
}
.cont-rank {
  width: 28px;
  height: 28px;
  margin-left: 17px;
  line-height: 28px;
  text-align: center;
  background: url("../image/left-icon.png");
}
.cont-rank span {
  font-size: 14px;
  color: #07d2f4;
}
.cont-content .li-rank .cont-rank {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.cont-content > li:first-child .cont-rank {
  background: url("../image/left-icon1.png") no-repeat;
}
.cont-content > li:nth-child(2) .cont-rank {
  background: url("../image/left-icon2.png") no-repeat;
}
.cont-content > li:nth-child(3) .cont-rank {
  background: url("../image/left-icon3.png") no-repeat;
}
.cont-ground img {
  width: 27px;
  height: 27px;
  border: 1px solid #03f4fb;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  line-height: 27px;
}
.cont-ground span {
  color: #03f4fb;
  font-size: 14px;
}
.cont-count {
  display: block;
  margin-right: 25px;
  color: #03f4fb;
  font-size: 14px;
}
/*中间内容和推送消息*/
.main-mid {
  width: calc(-510%);
  margin-top: 28px;
}
.mid-notice {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 958px;
  height: 51px;
  margin: 0 auto;
}
.mid-menu-left,
.mid-menu-right {
  width: 49px;
  height: 49px;
  border: 1px solid #c98f09;
}
.mid-menu-left {
  background: url("../image/mid-menu-left.png") center no-repeat;
  margin-right: 7px;
}
.mid-menu-right {
  background: url("../image/mid-menu-right.png") center no-repeat;
  margin-left: 7px;
}
/*公告历史记录弹窗*/
.history-mask {
  position: absolute;
  width: 344px;
  height: 575px;
  top: 74px;
  right: -207px;
  z-index: 9;
  background: url("../image/his-bg.png") no-repeat;
}
.history-warp {
  position: relative;
  width: 100%;
  height: 100%;
}
.history-title {
  position: absolute;
  top: 35px;
  left: 50px;
  font-size: 18px;
  color: #03f4fb ;
  font-weight: bold;
}
.history-close {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  top: 40px;
  right: 41px;
  background: url("../image/close.png") no-repeat;
}
.history-close:hover {
  background: url("../image/close-hover.png") no-repeat;
}
.history-cont {
  position: absolute;
  top: 94px;
  left: 26px;
  width: 287px;
  height: 440px;
  color: #03f4fb;
  z-index: 22;
  font-size: 14px;
}
.mid-notice-cont {
  position: relative;
  width: calc(-14%);
  height: 49px;
  border: 1px solid #c98f09;
  color: #ffffff;
  line-height: 49px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.mid-notice-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* Safari 5.1 - 6.0*/
  /* Firefox 3.6 - 15*/
  background: -webkit-gradient(linear, left top, right top, color-stop(0.25%, #000000), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), color-stop(99.75%, #000000));
  background: linear-gradient(90deg, #000000 0.25%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #000000 99.75%);
  /* 标准的语法 */
}
/*中间部分进度*/
.mid-content ul {
  margin-top: 42px;
}
.mid-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin: 0 auto 50px auto;
}
.mid-content-list:last-child {
  margin-bottom: 0;
}
.content-list-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 156px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 36px;
}
.content-list-name img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  border: 1px solid #03f4fb;
}
.content-list-name .team-name {
  display: block;
  width: 112px;
  font-size: 14px;
  color: #03f4fb ;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*进度条*/
.content-list-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(-231%);
  border: 1px solid #03f4fb;
  background: #0d2735;
}
.list-state {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: calc(9.09090909%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.stage span {
  width: calc(3.33333333%);
  height: 14px;
  background-color: #374b57;
}
.stage .answered {
  background: #03f4fb;
  -webkit-box-shadow: rgba(3, 244, 251, 0.7) 0px 0px 1px 1px;
          box-shadow: rgba(3, 244, 251, 0.7) 0px 0px 1px 1px;
}
.content-list-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 108px;
  margin-left: 32px;
  color: #03f4fb;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
}
.list-value-num {
  display: inline-block;
  font-size: 30px;
  color: #ffa200;
  padding-right: 5px;
}
.list-value-sum {
  display: inline-block;
  vertical-align: baseline;
}
/*右测部分*/
.main-right {
  /*position: relative;*/
  width: 275px;
  height: 100%;
}
.now-time {
  position: relative;
  width: 239px;
  height: 89px;
  margin-top: -12px;
  margin-left: -4px;
  margin-bottom: 40px;
  background: url("../image/time-border.png") no-repeat;
  text-align: center;
}
.now-time span {
  display: block;
  font-size: 40px;
  color: #03f4fb;
  line-height: 1;
  padding-top: 38px;
}
