//主色
$color_main_blue:#03f4fb;

//排行列表title字体颜色
$color_sub_blue_1:#77fbff;

//排行列表字体颜色
$color_sub_blue_2:#062830;

$color_main_yellow:#f4c401;

//排行列表第三名字体颜色
$color_sub_yellow_1:#c48039;

$height_header_content:9.6vh;

