@import "basic.scss";
.content{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("../image/body_bg.jpg") no-repeat;
    background-size: 100% 100%;
}
.header-warp{
    display: flex;
    width: 100vw;
    height:  $height_header_content+0.4vh;
    overflow: hidden;
    justify-content:space-between;
    background: url("../image/bg_header.png") no-repeat top center;
    background-size: 100% 100%;
}
.header-logo{
    flex-wrap: wrap;
    width: 19.27vw;
    height: $height_header_content;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:15.5vw 4.6vh;
    text-indent: -999px;
    overflow: hidden;
}
.header-title{
    width: 54vw;
    height:  $height_header_content;
    font-size: 2.2vw;
    color:$color_main_blue;
    text-align: center;
    font-weight: bold;
    line-height:  $height_header_content+0.9vh;
    overflow: hidden;
}
.header-left,.header-right{
    display: flex;
    width: 19.27vw;
    height:  $height_header_content;
    justify-content:center;
    align-content:center;
    overflow: hidden;
}
.header-right{
    flex-wrap: wrap;
    color: $color_main_blue;
}
.header-right{
    & >li{
        display: flex;
        width: 100%;
        font-size: 0.9vw;
        line-height: 0.9vw;
        margin-left: 2vw;
        &:first-child{
            margin-bottom:1vh;
        }
    }
}
.header-time-font{
    text-align: left;
    margin-right: 1.5vw;
}
.header-time{
    letter-spacing: 1px;
}