.content {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../image/body_bg.jpg") no-repeat;
  background-size: 100% 100%;
}
.header-warp {
  display: flex;
  height: 10.55555556vh;
  width: 100%;
  justify-content: space-between;
}
.header-left,
.header-right {
  display: flex;
  width: 19.27%;
  min-width: 15.57291667vw;
  height: 9.30555556vh;
  box-shadow: 0 1px 0 #03f4fb;
  justify-items: center;
  align-items: center;
}
.header-logo {
  width: 15.57291667vw;
  height: 4.62962963vh;
  margin: 0 auto;
}
.header-mid {
  width: 66.35416667vw;
}
.header-title {
  height: 9.25925926vh;
  width: 100%;
  margin-top: 0.625vw;
  background: url("../image/top_bg.png") no-repeat;
  background-size: 100% 100%;
  font-size: 1.875vw;
  color: #03f4fb;
  text-align: center;
  font-weight: bold;
  line-height: 8.42592593vh;
}
.header-right {
  display: flex;
  min-width: 15.83333333vw;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  color: #03f4fb;
}
.header-right > li {
  display: flex;
  line-height: 1;
  font-size: 0.9375vw;
}
.header-time-font {
  text-align: left;
  width: 7.29166667vw;
  margin-right: 1.5625vw;
}
.header-time {
  letter-spacing: 1px;
}
.header-right li:first-child .header-time-font {
  margin-bottom: 0.92592593vh;
}
.main {
  display: flex;
  padding: 0 1.5625vw;
  justify-content: space-between;
}
.main-name-logo {
  width: 100%;
  height: 100%;
  margin-top: 0.92592593vh;
  margin-bottom: 1.2962963vh;
}
.main-name-logo img {
  width: 100%;
  height: 100%;
}
.main-left {
  width: 14.32291667vw;
  height: 100%;
}
.cont-title {
  position: relative;
  width: 14.32291667vw;
  height: 1.85185185vh;
  background: url("../image/top-left.png") left top no-repeat, url("../image/top_right.png") right top no-repeat;
}
.cont-title-name {
  position: absolute;
  display: block;
  width: 8.02083333vw;
  left: 50%;
  margin-left: -4.01041667vw;
  top: -1.2037037vh;
  font-size: 1.14583333vw;
  color: #03f4fb;
  text-align: center;
}
.cont-th {
  width: 14.21875vw;
  height: 2.77777778vh;
  border-right: 1px solid #026865;
  border-left: 1px solid #026865;
  padding-top: 1.2962963vh;
}
.cont-th > div {
  display: flex;
  width: 13.17708333vw;
  height: 2.77777778vh;
  background: #0e2f39;
  line-height: 2.77777778vh;
  padding: 0 0.52083333vw;
  justify-content: space-between;
}
.cont-th > div span {
  display: inline-block;
  font-size: 0.72916667vw;
  color: #77fbff;
  font-weight: 700;
}
.cont-th > div span:last-child {
  margin-right: 0.15625vw;
}
.cont-footer {
  position: relative;
  width: 14.32291667vw;
  height: 4.44444444vh;
  background: url("../image/bottom_right.png") left bottom no-repeat, url("../image/bottom_left.png") right bottom no-repeat #020a14;
}
.cont-footer-bg {
  width: 100%;
  height: 4.44444444vh;
  border-top: none;
  background: url("../image/bottom_bg.png") center 5px no-repeat;
}
.main-left .cont-content {
  min-height: 55.55555556vh;
}
.cont-content-warp {
  position: relative;
  width: 14.21875vw;
}
.cont-content {
  width: 14.21875vw;
  min-height: 37.03703704vh;
  border-right: 1px solid #026865;
  border-left: 1px solid #026865;
  padding-top: 1.48148148vh;
}
.cont-content li {
  display: flex;
  width: 14.21875vw;
  height: 3.14814815vh;
  justify-content: space-between;
  background: #0e2f39;
  justify-items: center;
  align-items: center;
  margin-bottom: 1.11111111vh;
}
.cont-content li:first-child .cont-ground span,
.cont-content li:first-child .cont-count {
  color: #ffde00;
}
.cont-content li:first-child .cont-ground img {
  border-color: #ffde00;
}
.cont-content li:nth-child(2) .cont-ground span,
.cont-content li:nth-child(2) .cont-count {
  color: #fff;
}
.cont-content li:nth-child(2) .cont-ground img {
  border-color: #fff;
}
.cont-content li:nth-child(3) .cont-ground span,
.cont-content li:nth-child(3) .cont-count {
  color: #ee983c;
}
.cont-content li:nth-child(3) .cont-ground img {
  border-color: #ee983c;
}
.cont-content li:last-child {
  margin-bottom: 0;
}
.cont-rank {
  width: 1.45833333vw;
  height: 2.59259259vh;
  margin-left: 0.88541667vw;
  line-height: 2.59259259vh;
  text-align: center;
  background: url("../image/left-icon.png");
  background-size: 100% 100%;
}
.cont-rank span {
  font-size: 0.72916667vw;
  color: #07d2f4;
}
.cont-ground {
  display: flex;
  align-items: center;
  height: 3.14814815vh;
}
.cont-content .li-rank .cont-rank {
  width: 1.66666667vw;
  height: 2.96296296vh;
  margin-left: 0.78125vw;
}
.cont-content li:first-child .cont-rank {
  background: url("../image/left-icon1.png") no-repeat;
  background-size: 100% 100%;
}
.cont-content li:nth-child(2) .cont-rank {
  background: url("../image/left-icon2.png") no-repeat;
  background-size: 100% 100%;
}
.cont-content li:nth-child(3) .cont-rank {
  background: url("../image/left-icon3.png") no-repeat;
  background-size: 100% 100%;
}
.cont-ground img {
  width: 1.40625vw;
  height: 2.5vh;
  border: 1px solid #03f4fb;
  border-radius: 50%;
  line-height: 0;
  margin-right: 0.26041667vw;
}
.cont-ground span {
  display: inline-block;
  width: 3.64583333vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #03f4fb;
  font-size: 0.72916667vw;
}
.cont-count {
  display: block;
  margin-right: 1.30208333vw;
  color: #03f4fb;
  font-size: 1.2962963vh;
}
/*右测部分*/
.main-right {
  /*position: relative;*/
  width: 14.32291667vw;
  height: 100%;
}
/*中间内容和推送消息*/
.main-mid {
  width: calc(68.22916667%);
  margin-top: 2.59259259vh;
}
.mid-notice {
  position: relative;
  display: flex;
  max-width: 49.89583333vw;
  height: 4.72222222vh;
  margin: 0 auto;
}
.mid-menu-left,
.mid-menu-right {
  width: 2.55208333vw;
  height: 4.53703704vh;
  border: 1px solid #c98f09;
}
.mid-menu-left {
  background: url("../image/mid-menu-left.png") center no-repeat;
  margin-right: 0.36458333vw;
}
.mid-menu-right {
  background: url("../image/mid-menu-right.png") center no-repeat;
  margin-left: 0.36458333vw;
}
.mid-notice-cont {
  position: relative;
  width: calc(94.0625%);
  height: 4.53703704vh;
  border: 1px solid #c98f09;
  color: #ffffff;
  line-height: 4.53703704vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.mid-notice-cont-Warp {
  height: 4.53703704vh;
  line-height: 4.53703704vh;
}
.mid-notice-cont-Warp > span {
  display: inline-block;
  margin-right: 1.04166667vw;
}
.mid-notice-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(90deg, #000000 0.25%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #000000 99.75%);
  /* Safari 5.1 - 6.0*/
  background: -moz-linear-gradient(90deg, #000000 0.25%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #000000 99.75%);
  /* Firefox 3.6 - 15*/
  background: linear-gradient(90deg, #000000 0.25%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #000000 99.75%);
  /* 标准的语法 */
}
.mid-notice-cont .str_move {
  height: 4.53703704vh;
  line-height: 4.53703704vh;
  font-size: 0.83333333vw;
}
.mid-notice-cont .str_move > span {
  padding-right: 1.5625vw;
}
.mainframe_action_block {
  position: relative;
  display: flex;
  width: 67.7vw;
  height: 44vw;
  margin-top: 1.7vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ul_mainframe_action_team_list {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ul_mainframe_action_team_list > li {
  display: block;
  box-sizing: border-box;
  width: 9vw;
  height: 20%;
  text-align: center;
  color: #03f4fb;
  font-size: 1vw;
  padding-top: 30px;
}
.ul_mainframe_action_team_list > li:nth-child(n+6) {
  float: right;
}
.ul_mainframe_action_team_list > li:nth-child(6) {
  margin-top: -44vw;
}
.ul_mainframe_action_team_list > li:nth-child(7) {
  margin-top: -35.2vw;
}
.ul_mainframe_action_team_list > li:nth-child(8) {
  margin-top: -26.4vw;
}
.ul_mainframe_action_team_list > li:nth-child(9) {
  margin-top: -17.6vw;
}
.ul_mainframe_action_team_list > li:nth-child(10) {
  margin-top: -8.8vw;
}
.ul_mainframe_action_team_list img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #03f4fb;
  overflow: hidden;
  margin: 5px auto auto;
}
.mainframe_action_block_question {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mainframe_action_block_question > img {
  position: absolute;
  width: 3.85vw;
  height: 3.85vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(2),
.mainframe_action_block_question > img:first-child:nth-last-child(2) ~ img {
  left: 50%;
  margin-left: -5.5%;
}
.mainframe_action_block_question > img:first-child:nth-last-child(2):nth-child(1),
.mainframe_action_block_question > img:first-child:nth-last-child(2) ~ img:nth-child(1) {
  top: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(2):nth-child(2),
.mainframe_action_block_question > img:first-child:nth-last-child(2) ~ img:nth-child(2) {
  bottom: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(3):nth-child(1),
.mainframe_action_block_question > img:first-child:nth-last-child(3) ~ img:nth-child(1) {
  left: 50%;
  margin-left: -5.5%;
  top: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(3):nth-child(2),
.mainframe_action_block_question > img:first-child:nth-last-child(3) ~ img:nth-child(2) {
  left: 10%;
  bottom: 21%;
}
.mainframe_action_block_question > img:first-child:nth-last-child(3):nth-child(3),
.mainframe_action_block_question > img:first-child:nth-last-child(3) ~ img:nth-child(3) {
  right: 10%;
  bottom: 21%;
}
.mainframe_action_block_question > img:first-child:nth-last-child(4):nth-child(1),
.mainframe_action_block_question > img:first-child:nth-last-child(4) ~ img:nth-child(1) {
  left: 50%;
  margin-left: -5.5%;
  top: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(4):nth-child(2),
.mainframe_action_block_question > img:first-child:nth-last-child(4) ~ img:nth-child(2) {
  top: 50%;
  margin-top: -5.5%;
  left: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(4):nth-child(3),
.mainframe_action_block_question > img:first-child:nth-last-child(4) ~ img:nth-child(3) {
  left: 50%;
  margin-left: -5.5%;
  bottom: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(4):nth-child(4),
.mainframe_action_block_question > img:first-child:nth-last-child(4) ~ img:nth-child(4) {
  top: 50%;
  margin-top: -1.925vw;
  right: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(5):nth-child(1),
.mainframe_action_block_question > img:first-child:nth-last-child(5) ~ img:nth-child(1) {
  left: 50%;
  margin-left: -5.5%;
  top: 0.6vw;
}
.mainframe_action_block_question > img:first-child:nth-last-child(5):nth-child(2),
.mainframe_action_block_question > img:first-child:nth-last-child(5) ~ img:nth-child(2) {
  left: 5%;
  top: 31%;
}
.mainframe_action_block_question > img:first-child:nth-last-child(5):nth-child(3),
.mainframe_action_block_question > img:first-child:nth-last-child(5) ~ img:nth-child(3) {
  left: 17%;
  bottom: 13%;
}
.mainframe_action_block_question > img:first-child:nth-last-child(5):nth-child(4),
.mainframe_action_block_question > img:first-child:nth-last-child(5) ~ img:nth-child(4) {
  right: 17%;
  bottom: 13%;
}
.mainframe_action_block_question > img:first-child:nth-last-child(5):nth-child(5),
.mainframe_action_block_question > img:first-child:nth-last-child(5) ~ img:nth-child(5) {
  right: 5%;
  top: 31%;
}
.mainframe_action_block_main {
  text-align: center;
  width: 44vw;
  height: 44vw;
}
.mainframe_action_block_main span.action_mainframe_action_block_main {
  position: absolute;
  display: block;
  background: url(../image/mainframe/action_mainframe_action_block_main.gif) no-repeat center center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51%);
}
.mainframe_action_block_main > li {
  position: relative;
  background: url(../image/mainframe/bg_mainframe_action_block.png) no-repeat center center;
  box-sizing: border-box;
  border: 2px solid #03f4fb;
  border-radius: 34.6vw;
  margin: auto;
  text-align: center;
}
.mainframe_action_block_main > li:first-child:nth-last-child(1) {
  width: 34.6vw;
  height: 34.6vw;
  background-size: 34.6vw;
  margin: 4.5vw auto 0;
}
.mainframe_action_block_main > li:first-child:nth-last-child(1) span.action_mainframe_action_block_main {
  width: 11.5vw;
  height: 11.5vw;
  background-size: 11.5vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(2),
.mainframe_action_block_main > li:first-child:nth-last-child(2) ~ li {
  width: 20.8vw;
  height: 20.8vw;
  background-size: 20.8vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(2):nth-child(2),
.mainframe_action_block_main > li:first-child:nth-last-child(2) ~ li:nth-child(2) {
  margin-top: 1.7vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(2) span.action_mainframe_action_block_main,
.mainframe_action_block_main > li:first-child:nth-last-child(2) ~ li span.action_mainframe_action_block_main {
  width: 6.7vw;
  height: 6.7vw;
  background-size: 6.7vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(2) .mainframe_action_block_question > img,
.mainframe_action_block_main > li:first-child:nth-last-child(2) ~ li .mainframe_action_block_question > img {
  width: 2.1vw;
  height: 2.1vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(3),
.mainframe_action_block_main > li:first-child:nth-last-child(3) ~ li {
  width: 20.8vw;
  height: 20.8vw;
  background-size: 20.8vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(3):nth-child(2),
.mainframe_action_block_main > li:first-child:nth-last-child(3) ~ li:nth-child(2) {
  float: left;
}
.mainframe_action_block_main > li:first-child:nth-last-child(3):nth-child(3),
.mainframe_action_block_main > li:first-child:nth-last-child(3) ~ li:nth-child(3) {
  float: right;
}
.mainframe_action_block_main > li:first-child:nth-last-child(3) span.action_mainframe_action_block_main,
.mainframe_action_block_main > li:first-child:nth-last-child(3) ~ li span.action_mainframe_action_block_main {
  width: 6.7vw;
  height: 6.7vw;
  background-size: 6.7vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(3) .mainframe_action_block_question > img,
.mainframe_action_block_main > li:first-child:nth-last-child(3) ~ li .mainframe_action_block_question > img {
  width: 2.1vw;
  height: 2.1vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(4),
.mainframe_action_block_main > li:first-child:nth-last-child(4) ~ li {
  width: 20.8vw;
  height: 20.8vw;
  background-size: 20.8vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(4):nth-child(1),
.mainframe_action_block_main > li:first-child:nth-last-child(4) ~ li:nth-child(1) {
  float: left;
}
.mainframe_action_block_main > li:first-child:nth-last-child(4):nth-child(2),
.mainframe_action_block_main > li:first-child:nth-last-child(4) ~ li:nth-child(2) {
  float: right;
}
.mainframe_action_block_main > li:first-child:nth-last-child(4):nth-child(3),
.mainframe_action_block_main > li:first-child:nth-last-child(4) ~ li:nth-child(3) {
  float: left;
  margin-top: 2vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(4):nth-child(4),
.mainframe_action_block_main > li:first-child:nth-last-child(4) ~ li:nth-child(4) {
  float: right;
  margin-top: 2vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(4) span.action_mainframe_action_block_main,
.mainframe_action_block_main > li:first-child:nth-last-child(4) ~ li span.action_mainframe_action_block_main {
  width: 6.7vw;
  height: 6.7vw;
  background-size: 6.7vw;
}
.mainframe_action_block_main > li:first-child:nth-last-child(4) .mainframe_action_block_question > img,
.mainframe_action_block_main > li:first-child:nth-last-child(4) ~ li .mainframe_action_block_question > img {
  width: 2.1vw;
  height: 2.1vw;
}
.action_mainframe_attack_linghting_area {
  position: absolute;
  border: 1px solid red;
  overflow: hidden;
}
.action_mainframe_attack_linghting {
  position: absolute;
  background: url(../image/mainframe/action_mainframe_attack_linghting.png) repeat-x;
  display: block;
  width: 0;
  height: 1.5625vw;
}
